* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 100%;
}

.popup-contents {
  height: auto;
  width: 100%;
}

.save-popup-warning {
  color: red;
}

.popup-photos {
  display: flex;
  flex-direction: row;
}

.popup-photos img {
  height: auto;
  width: 100%;
}

.popup-photos-main {
  padding-right: 1px;
  width: 66.66%;
}

.popup-photos-other {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 1px;
  width: 33.33%;
}

.popup-price-and-phone {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.popup-spacer {
  width: 1em;
}
.popup-phone {
  text-align: right;
}

.popup-price,
.popup-phone,
.popup-description {
  font-size: 130%;
}

.popup-location
{
  font-size: 120%;
}

.popup-interactive {
  width: 100%;
  display: flex;
  justify-content: safe flex-end;
  align-items: safe center;
}

.popup-scheduled-date-invisible {
  opacity: 0;
}
.popup-scheduled-date-visible {
  opacity: 1;
}
.popup-scheduled-date {
  font-size: 150%;
  transition: opacity 0.5s;
}

.popup-info,
.popup-summary {
  width: 100%;
}

.hide-checkbox {
  display: none;
}

.emoji-checkbox,
.emoji-checkbox-faded {
  font-size: 400%;
}

.marker-sold {
  filter: grayscale(1) brightness(1.5);
}

.marker-scheduled {
  filter: hue-rotate(180deg);
}

.marker-ok,
.checkbox-ok {
  filter: hue-rotate(280deg);
}

.marker-ng,
.checkbox-ng {
  filter: hue-rotate(150deg);
}

/* This emoji is slightly faded, so bump it up a bit */
.checkbox-scheduled {
  filter: saturate(2);
}

.hide-checkbox + .emoji-checkbox,
.hide-checkbox + .emoji-checkbox-faded {
  transition: filter 0.2s;
  filter: grayscale(1);
}

/* For non-faded icons: Don't saturate at all */
.hide-checkbox:checked + .emoji-checkbox {
  transition: filter 0.2s;
  filter: none;
}

.hide-checkbox:checked + .emoji-checkbox-faded {
  transition: filter 0.2s;
  filter: saturate(3);
}

.schedule-hidden {
  height: 0;
  width: 0;
  transition: height 0.2s, width 0.2s;
}

.schedule-control {
  display: flex;
  justify-content: center;
  font-size: 200%;
  box-shadow: 0 1px 5px rgba(0,0,0,0.4);
  background: #fff;
  border-radius: 5px;
}

.schedule-control-visible {
  display: auto;
  height: auto;
  width: auto;
  transition: height 0.2s, width 0.2s;
}
.schedule-control-invisible {
  display: none;
  height: 0;
  width: 0;
  transition: height 0.2s, width 0.2s;
}

.schedule-control-link:before {
  content: "📅";
  /* Make it look slightly less dark */
  /* I might need to eventually bite the bullet and use one of those weird fonts people like, like font-awesome or similar */
  filter: brightness(1.1) saturate(1.3);
}
/* Use the same size as Control.Layers */
.schedule-control-link {
  display: block;
  height: 36px;
  width: 36px;
  text-align: center;
}
.leaflet-touch .schedule-control-link {
  display: block;
  height: 44px;
  width: 44px;
  text-align: center;
}
